.h3_style {
  font-weight: 700;
  font-size: 48px;
  line-height: 0.51;
  color: #42446e;

  padding-bottom: 49px;
}

.text_desc {
  font-weight: 400;
  font-size: 32px;
  line-height: 0.81;
  color: #666666;
}

@media (max-width: 725px) {
  .h3_style {
    font-size: 32px;
  }

  .text_desc {
    font-size: 20px;
  }
}

@media (max-width: 725px) {
  .text_desc {
    line-height: 1.5;
  }
}

@media (max-width: 250px) {
  .h3_style {
    line-height: 1.5;
  }
}
