.content {
  display: flex;
  flex-direction: column;
  row-gap: 210px;
}

hr {
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.2),
    transparent
  );
  border: 0;
  height: 1px;
  box-sizing: content-box;
  display: block;
}
