.footer {
  padding: 53px 13px 60px;

  .footer_row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      align-items: center;
      column-gap: 54px;

      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #666666;
    }
    p {
      font-size: 18px;
      line-height: 1.44;
      color: rgb(102, 102, 102);
      span {
        background: linear-gradient(
          to right,
          rgb(19, 176, 245) 3%,
          rgb(231, 15, 170) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
