.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 7px;
}

.text {
  padding: 138px 0;
  text-align: center;
}

.stack {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 67px;

  img {
    max-width: 120 px;
    max-height: 120 px;
  }
}
